<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.busi.ness.member.MemberMapper">
 
 	<select id="getList" parameterType="MemberVO" resultType="MemberVO">
 		SELECT * FROM EMPLOYEE WHERE EMP_NO = #{empNo}
 	</select>
 	
<!--  	<resultMap id="getListResult" type="MemberVO">
 		<id column="EMP_NO" property="empNo"/>
 		<result column="DEP_CD" property="depCd" />
 		<result column="EMP_PW" property="empPw" />
 		<result column="EMP_NM" property="empNm" />
 		<result column="POSI_CD" property="posiCd" />
 		<result column="PHONE_NB" property="phoneNb" />
 		<result column="DETAIL_ADD" property="detallAdd" />
 	</resultMap> -->
 	
 </mapper>