<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.busi.ness.member.MemberMapper">
 	
 	<!-- 회원목록 -->	
 	<select id="getList" parameterType="MemberVO" resultType="MemberVO">
 		SELECT * FROM EMPLOYEE WHERE EMP_NO = #{empNo}
 	</select>
 	
 	<!-- 회원가입 -->
 	<insert id="setJoin" parameterType="MemberVO">
 		INSERT INTO EMPLOYEE (EMP_NO, DEP_CD, EMP_PW, EMP_NM, POSI_CD, PHONE_NB, DETAIL_ADD)
		VALUES (#{empNo}, #{depCd}, #{empPw}, #{empNm}, #{posiCd}, #{phoneNb}, #{detallAdd});
 	</insert>
 	
 </mapper>