<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.busi.ness.member.MemberMapper">
 
 	<select id="getList" parameterType="MemberVO" resultType="MemberVO">
 		SELECT * FROM EMPLOYEE WHERE EMP_NO = #{empNo}
 	</select>
 	
 </mapper>